 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(58,80,249,0.6), rgba(58,80,249,0.6)), url('images/fgtt-min.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 554px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-transform: none;
  font-family: Lexend;
  font-weight: 700;
  margin: 160px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Lexend;
  line-height: 1.4;
  font-size: 1.25rem;
  width: 858px;
  margin: 64px auto 0;
}

.u-section-1 .u-btn-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  font-family: Manrope;
  background-image: none;
  border-style: solid;
  --radius: 11px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 40px auto;
  padding: 15px 44px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 527px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 162px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-top: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 119px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 129px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-top: 21px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 93px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 76px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 55px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 80px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 366px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3rem;
  margin: 90px auto 0 57px;
}

.u-section-2 .u-image-1 {
  width: 259px;
  height: 43px;
  margin: -9px auto 0 57px;
}

.u-section-2 .u-image-2 {
  width: 165px;
  height: 167px;
  margin: -62px 154px 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: Manrope;
  line-height: 1.46;
  letter-spacing: 0px;
  font-size: 1rem;
  margin: -105px 570px 26px 57px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 52px;
    margin-left: 77px;
  }

  .u-section-2 .u-image-1 {
    width: 208px;
    margin-top: -15px;
    margin-left: 77px;
  }

  .u-section-2 .u-image-2 {
    width: 120px;
    height: 121px;
    margin-top: -18px;
    margin-right: 143px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin: -103px 494px 60px 77px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 72px;
    margin-left: 40px;
  }

  .u-section-2 .u-image-1 {
    width: 191px;
    height: 29px;
    margin-top: -10px;
    margin-left: 40px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 14px;
    margin-right: 81px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -121px;
    margin-right: 303px;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 98px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 22px;
    margin-right: 46px;
  }

  .u-section-2 .u-text-2 {
    margin: -136px 227px 46px 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 63px;
  }

  .u-section-2 .u-image-1 {
    width: 170px;
    margin-top: -7px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 36px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -147px;
    margin-right: 141px;
    margin-bottom: 31px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 221px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Lexend;
  font-size: 2rem;
  margin: 60px auto;
}.u-section-4 .u-sheet-1 {
  min-height: 364px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 2.25rem;
  margin: 40px 63px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 259px;
  height: 43px;
  margin: 0 49px 0 auto;
}

.u-section-4 .u-icon-1 {
  width: 199px;
  height: 199px;
  margin: -40px auto 0 100px;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-family: Manrope;
  line-height: 1.46;
  letter-spacing: 0px;
  font-size: 1rem;
  margin: -159px 64px 31px 514px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-top: -6px;
  }

  .u-section-4 .u-icon-1 {
    width: 153px;
    height: 153px;
    margin-top: -11px;
    margin-left: 128px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -134px;
    margin-right: 0;
    margin-left: 378px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -4px;
    margin-left: 86px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -141px;
    margin-bottom: 30px;
    margin-left: 330px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 58px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 194px;
    margin-top: -11px;
    margin-right: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 35px;
    margin-left: 40px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -194px;
    margin-bottom: 36px;
    margin-left: 232px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 62px;
    margin-right: 7px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -15px;
  }

  .u-section-4 .u-icon-1 {
    width: 112px;
    height: 112px;
    margin-top: 50px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -167px;
    margin-left: 134px;
  }
} .u-section-5 {
  display: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 400px;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 412px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 358px;
}

.u-section-6 .u-icon-1 {
  width: 100px;
  height: 100px;
  margin: 43px auto 0 367px;
  padding: 0;
}

.u-section-6 .u-icon-2 {
  width: 100px;
  height: 100px;
  margin: -100px 366px 0 auto;
  padding: 0;
}

.u-section-6 .u-icon-3 {
  width: 100px;
  height: 100px;
  margin: -94px auto 0 60px;
  padding: 0;
}

.u-section-6 .u-icon-4 {
  width: 100px;
  height: 100px;
  margin: -100px 59px 0 auto;
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-size: 2.25rem;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-3 {
  font-family: Manrope;
  font-size: 1rem;
  margin: -5px 0 0 923px;
}

.u-section-6 .u-text-4 {
  font-size: 2.25rem;
  margin: -133px auto 0 361px;
}

.u-section-6 .u-text-5 {
  font-family: Manrope;
  font-size: 1.125rem;
  margin: -7px 600px 0 295px;
}

.u-section-6 .u-text-6 {
  font-size: 2.25rem;
  margin: -180px 329px 0 auto;
}

.u-section-6 .u-text-7 {
  font-size: 2.25rem;
  margin: -42px auto 0 20px;
}

.u-section-6 .u-text-8 {
  font-family: Manrope;
  font-size: 1rem;
  margin: 0 919px 0 0;
}

.u-section-6 .u-text-9 {
  font-family: Manrope;
  font-size: 1rem;
  margin: -127px 300px 60px 614px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 295px;
  }

  .u-section-6 .u-icon-1 {
    width: 85px;
    height: 85px;
    margin-top: 64px;
    margin-left: 300px;
  }

  .u-section-6 .u-icon-2 {
    width: 85px;
    height: 85px;
    margin-top: -85px;
    margin-right: 320px;
  }

  .u-section-6 .u-icon-3 {
    width: 85px;
    height: 85px;
    margin-top: -83px;
  }

  .u-section-6 .u-icon-4 {
    width: 85px;
    height: 85px;
    margin-top: -87px;
    margin-right: 50px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 2px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 8px;
    margin-right: 14px;
    margin-left: 770px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -172px;
    margin-left: 295px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: 13px;
    margin-right: 509px;
    margin-left: 254px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -209px;
    margin-right: 291px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -36px;
    margin-left: 35px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 13px;
    margin-right: 748px;
    margin-left: 13px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-top: -133px;
    margin-right: 265px;
    margin-left: 481px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-1 {
    width: 70px;
    height: 70px;
    margin-top: 41px;
    margin-left: 231px;
  }

  .u-section-6 .u-icon-2 {
    width: 70px;
    height: 70px;
    margin-top: -70px;
    margin-right: auto;
    margin-left: 407px;
  }

  .u-section-6 .u-icon-3 {
    width: 70px;
    height: 70px;
    margin-top: -59px;
    margin-left: 53px;
  }

  .u-section-6 .u-icon-4 {
    width: 70px;
    height: 70px;
    margin-top: -70px;
    margin-right: auto;
    margin-left: 594px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-right: auto;
    margin-left: 556px;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 23px;
    margin-left: 561px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
    margin-top: -141px;
    margin-left: 225px;
  }

  .u-section-6 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 1px;
    margin-right: 386px;
    margin-left: 199px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
    margin-top: -197px;
    margin-right: auto;
    margin-left: 386px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.5rem;
    margin-top: -29px;
    margin-left: 28px;
  }

  .u-section-6 .u-text-8 {
    font-size: 0.875rem;
    margin-top: 1px;
    margin-right: 561px;
    margin-left: 17px;
  }

  .u-section-6 .u-text-9 {
    font-size: 0.875rem;
    margin: -140px 215px 53px 379px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-6 .u-icon-1 {
    width: 55px;
    height: 55px;
    margin-top: 29px;
    margin-left: 175px;
  }

  .u-section-6 .u-icon-2 {
    width: 55px;
    height: 55px;
    margin-top: -55px;
    margin-left: 304px;
  }

  .u-section-6 .u-icon-3 {
    width: 55px;
    height: 55px;
    margin-top: -55px;
    margin-left: 31px;
  }

  .u-section-6 .u-icon-4 {
    width: 55px;
    height: 55px;
    margin-top: -55px;
    margin-left: 451px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 7px;
    margin-left: 417px;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.75rem;
    line-height: 1.5;
    margin-top: 14px;
    margin-right: 10px;
    margin-left: 427px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.25rem;
    margin-top: -110px;
    margin-left: 170px;
  }

  .u-section-6 .u-text-5 {
    font-size: 0.75rem;
    line-height: 1.5;
    margin-top: 14px;
    margin-right: 284px;
    margin-left: 148px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.25rem;
    margin-top: -146px;
    margin-left: 281px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.25rem;
    margin-top: -24px;
    margin-left: 8px;
  }

  .u-section-6 .u-text-8 {
    font-size: 0.75rem;
    line-height: 1.5;
    margin-top: 14px;
    margin-right: 423px;
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    font-size: 0.75rem;
    line-height: 1.5;
    margin: -90px 155px 11px 270px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 266px;
    margin-left: 54px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: -288px;
    margin-left: 247px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 54px;
  }

  .u-section-6 .u-icon-4 {
    margin-top: 178px;
    margin-left: 247px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 5px;
    margin-left: 203px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 12px;
    margin-right: 15px;
    margin-left: 222px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -107px;
    margin-left: 49px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 3px;
    margin-right: 196px;
    margin-left: 18px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -341px;
    margin-left: 228px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 30px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 13px;
    margin-right: 196px;
    margin-left: 9px;
  }

  .u-section-6 .u-text-9 {
    margin: -79px 9px 195px 216px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 671px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3rem;
  margin: 47px auto 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 148px;
  margin-bottom: 23px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 12.75px));
  min-height: 396px;
  grid-auto-columns: calc(25% - 12.75px);
  grid-gap: 17px;
}

.u-section-7 .u-list-item-1 {
  --radius: 25px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  height: 256px;
  margin-top: -96px;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: -1px;
  margin: 21px 21px 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 1px 0 21px;
}

.u-section-7 .u-text-4 {
  font-family: Manrope;
  margin: 20px 14px 0;
}

.u-section-7 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-image-2 {
  height: 256px;
  margin-top: -96px;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: -1px;
  margin: 21px 21px 0;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 1px 0 21px;
}

.u-section-7 .u-text-7 {
  font-family: Manrope;
  margin: 20px 14px 0;
}

.u-section-7 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-icon-5 {
  height: 100%;
}

.u-section-7 .u-icon-6 {
  height: 100%;
}

.u-section-7 .u-list-item-3 {
  --radius: 25px;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-image-3 {
  height: 256px;
  margin-top: -96px;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-7 .u-text-8 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: -1px;
  margin: 21px 21px 0;
}

.u-section-7 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 1px 0 21px;
}

.u-section-7 .u-text-10 {
  font-family: Manrope;
  margin: 20px 14px 0;
}

.u-section-7 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-7 .u-icon-7 {
  height: 100%;
}

.u-section-7 .u-icon-8 {
  height: 100%;
}

.u-section-7 .u-icon-9 {
  height: 100%;
}

.u-section-7 .u-list-item-4 {
  --radius: 25px;
}

.u-section-7 .u-container-layout-4 {
  padding: 0;
}

.u-section-7 .u-image-4 {
  height: 256px;
  margin-top: -96px;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-7 .u-text-11 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: -1px;
  margin: 21px 21px 0;
}

.u-section-7 .u-text-12 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 1px 0 21px;
}

.u-section-7 .u-text-13 {
  font-family: Manrope;
  margin: 20px 14px 0;
}

.u-section-7 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-7 .u-icon-10 {
  height: 100%;
}

.u-section-7 .u-icon-11 {
  height: 100%;
}

.u-section-7 .u-icon-12 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-7 .u-text-1 {
    width: 357px;
    margin-top: 0;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 17px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 324px;
  }

  .u-section-7 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-7 .u-image-1 {
    height: 211px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    height: 211px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-7 .u-image-3 {
    height: 211px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-list-item-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-7 .u-image-4 {
    height: 211px;
  }

  .u-section-7 .u-text-11 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-7 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1248px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-list-1 {
    width: 722px;
    margin: 146px -1px 35px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 46.5px));
    min-height: 1023px;
    grid-auto-columns: calc(50% - 46.5px);
    grid-gap: 93px;
  }

  .u-section-7 .u-image-1 {
    height: 228px;
    width: 258px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 17px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 7px;
  }

  .u-section-7 .u-image-2 {
    height: 228px;
    width: 258px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-5 {
    margin-top: 17px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 7px;
  }

  .u-section-7 .u-image-3 {
    height: 228px;
    width: 258px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-8 {
    margin-top: 17px;
  }

  .u-section-7 .u-text-9 {
    margin-top: 7px;
  }

  .u-section-7 .u-image-4 {
    height: 228px;
    width: 258px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-11 {
    margin-top: 17px;
  }

  .u-section-7 .u-text-12 {
    margin-top: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2198px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 33px;
  }

  .u-section-7 .u-list-1 {
    width: 403px;
    margin: 25px auto 24px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 2077px;
    grid-auto-columns: 100%;
    grid-gap: 52px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 26px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 21px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 6px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 19px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 26px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 21px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 6px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-social-icons-2 {
    margin-top: 19px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 26px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 21px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 6px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-text-10 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-social-icons-3 {
    margin-top: 19px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-bottom: 26px;
  }

  .u-section-7 .u-image-4 {
    margin-top: 21px;
  }

  .u-section-7 .u-text-11 {
    margin-top: 6px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-7 .u-text-12 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-text-13 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-social-icons-4 {
    margin-top: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2329px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
    margin-top: 39px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 15px;
    width: 340px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2215px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-7 .u-text-11 {
    margin-left: 21px;
    margin-right: 21px;
  }
}