 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('images/colourful-night-sky-with-stars-nebula4.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 297px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: uppercase;
  width: 770px;
  margin: 52px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Manrope;
  text-transform: none;
  letter-spacing: 0px;
  font-size: 1.25rem;
  width: 770px;
  margin: 52px auto 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-left: 85px;
    margin-right: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    text-transform: none;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 161px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 688px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  margin: 12px auto 0;
}

.u-section-2 .u-list-1 {
  width: 817px;
  margin: 55px auto 54px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 50px));
  min-height: 514px;
  grid-auto-columns: calc(50% - 50px);
  grid-gap: 100px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 18px;
}

.u-section-2 .u-icon-1 {
  width: 102px;
  height: 102px;
  margin: 78px auto 0;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-family: Lexend;
  font-size: 1.25rem;
  margin: 0 12px;
}

.u-section-2 .u-image-1 {
  width: 220px;
  height: 15px;
  margin: 11px auto 0 58px;
}

.u-section-2 .u-text-3 {
  font-family: Lexend;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.33;
  margin: 13px 12px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 1px;
  letter-spacing: 1px;
  font-family: Manrope;
  font-weight: 700;
  text-transform: none;
  margin: 23px auto 0 58px;
  padding: 11px 50px 12px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 18px;
}

.u-section-2 .u-icon-2 {
  width: 102px;
  height: 102px;
  margin: 78px auto 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 12px;
}

.u-section-2 .u-image-2 {
  width: 220px;
  height: 15px;
  margin: 11px auto 0 58px;
}

.u-section-2 .u-text-5 {
  font-family: Lexend;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.33;
  margin: 13px 12px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 1rem;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 1px;
  letter-spacing: 1px;
  font-family: Manrope;
  font-weight: 700;
  text-transform: none;
  margin: 23px auto 0 58px;
  padding: 11px 50px 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 46px;
    margin-bottom: 33px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 467px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-2 .u-btn-1 {
    padding-bottom: 15px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-2 .u-btn-2 {
    padding-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-list-1 {
    width: 381px;
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 778px;
    grid-auto-columns: 100%;
    grid-gap: 29px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 7px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
    margin-left: auto;
    padding: 13px 19px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 7px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 30px;
    margin-left: auto;
    padding: 13px 19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 12px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 599px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Lexend;
  font-size: 2.25rem;
  margin: 53px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1119px;
  margin: 30px 0 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 24px));
  grid-auto-columns: calc(33.3333% - 24px);
  grid-gap: 36px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
}

.u-section-3 .u-container-layout-1 {
  padding: 5px 10px 6px 11px;
}

.u-section-3 .u-text-2 {
  font-family: Lexend;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 31px 0 107px;
}

.u-section-3 .u-image-1 {
  width: 94px;
  height: 94px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.36;
  margin: -70px 0 0 107px;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
}

.u-section-3 .u-container-layout-2 {
  padding: 5px 10px 6px 11px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-family: Lexend;
  letter-spacing: 0px;
  font-size: 1.25rem;
  margin: 0 31px 0 107px;
}

.u-section-3 .u-image-2 {
  width: 94px;
  height: 94px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.36;
  margin: -70px 0 0 107px;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
}

.u-section-3 .u-container-layout-3 {
  padding: 5px 10px 6px 11px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-family: Lexend;
  letter-spacing: 0px;
  font-size: 1.25rem;
  margin: 0 31px 0 107px;
}

.u-section-3 .u-image-3 {
  width: 94px;
  height: 94px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.36;
  margin: -70px 0 0 107px;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
}

.u-section-3 .u-container-layout-4 {
  padding: 5px 10px 6px 11px;
}

.u-section-3 .u-text-8 {
  font-family: Lexend;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 31px 0 107px;
}

.u-section-3 .u-image-4 {
  width: 94px;
  height: 94px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-9 {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.36;
  margin: -70px 0 0 107px;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
}

.u-section-3 .u-container-layout-5 {
  padding: 5px 10px 6px 11px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-family: Lexend;
  letter-spacing: 0px;
  font-size: 1.25rem;
  margin: 0 31px 0 107px;
}

.u-section-3 .u-image-5 {
  width: 94px;
  height: 94px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-11 {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.36;
  margin: -70px 0 0 107px;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
}

.u-section-3 .u-container-layout-6 {
  padding: 5px 10px 6px 11px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-family: Lexend;
  letter-spacing: 0px;
  font-size: 1.25rem;
  margin: 0 31px 0 107px;
}

.u-section-3 .u-image-6 {
  width: 94px;
  height: 94px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-13 {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.36;
  margin: -70px 0 0 107px;
}

.u-section-3 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
}

.u-section-3 .u-container-layout-7 {
  padding: 5px 10px 6px 11px;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  font-family: Lexend;
  letter-spacing: 0px;
  font-size: 1.25rem;
  margin: 0 31px 0 107px;
}

.u-section-3 .u-image-7 {
  width: 94px;
  height: 94px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-15 {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.36;
  margin: -70px 0 0 107px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 29px;
    margin-bottom: 22px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 80px;
    height: 80px;
    margin-top: -24px;
    margin-left: 182px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -43px;
    margin-right: 84px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 80px;
    height: 80px;
    margin-top: -24px;
    margin-left: 182px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -43px;
    margin-right: 84px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 80px;
    height: 80px;
    margin-top: -24px;
    margin-left: 182px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -43px;
    margin-right: 84px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    width: 80px;
    height: 80px;
    margin-top: -24px;
    margin-left: 182px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -43px;
    margin-right: 84px;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    width: 80px;
    height: 80px;
    margin-top: -24px;
    margin-left: 182px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -43px;
    margin-right: 84px;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-6 {
    width: 80px;
    height: 80px;
    margin-top: -24px;
    margin-left: 182px;
  }

  .u-section-3 .u-text-13 {
    margin-top: -43px;
    margin-right: 84px;
    margin-left: 0;
  }

  .u-section-3 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-7 {
    width: 80px;
    height: 80px;
    margin-top: -24px;
    margin-left: 182px;
  }

  .u-section-3 .u-text-15 {
    margin-top: -43px;
    margin-right: 84px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-3 .u-text-1 {
    width: 398px;
    margin-top: 0;
  }

  .u-section-3 .u-list-1 {
    width: 707px;
    margin-right: 0;
    margin-bottom: 60px;
    margin-left: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
    grid-auto-columns: calc(50% - 16px);
    grid-gap: 32px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: 135px;
  }

  .u-section-3 .u-image-1 {
    width: 65px;
    height: 65px;
    margin-left: 259px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -41px;
    margin-right: 127px;
    margin-left: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 10px;
    margin-right: 135px;
  }

  .u-section-3 .u-image-2 {
    width: 65px;
    height: 65px;
    margin-left: 259px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -41px;
    margin-right: 127px;
    margin-left: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 10px;
    margin-right: 135px;
  }

  .u-section-3 .u-image-3 {
    width: 65px;
    height: 65px;
    margin-left: 259px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -41px;
    margin-right: 127px;
    margin-left: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 10px;
    margin-right: 135px;
  }

  .u-section-3 .u-image-4 {
    width: 65px;
    height: 65px;
    margin-left: 259px;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -41px;
    margin-right: 127px;
    margin-left: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 10px;
    margin-right: 135px;
  }

  .u-section-3 .u-image-5 {
    width: 65px;
    height: 65px;
    margin-left: 259px;
  }

  .u-section-3 .u-text-11 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -41px;
    margin-right: 127px;
    margin-left: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 0;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 10px;
    margin-right: 135px;
  }

  .u-section-3 .u-image-6 {
    width: 65px;
    height: 65px;
    margin-left: 259px;
  }

  .u-section-3 .u-text-13 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -41px;
    margin-right: 127px;
    margin-left: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding: 0;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin-top: 10px;
    margin-right: 135px;
  }

  .u-section-3 .u-image-7 {
    width: 65px;
    height: 65px;
    margin-left: 259px;
  }

  .u-section-3 .u-text-15 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -41px;
    margin-right: 127px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-1 {
    width: 15px;
    margin-top: 11px;
    margin-right: auto;
    margin-left: 43px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: 100%;
    min-height: 620px;
    grid-gap: 17px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 15px;
    margin-right: 338px;
    margin-left: 12px;
  }

  .u-section-3 .u-image-1 {
    width: 55px;
    height: 55px;
    margin-top: -27px;
    margin-left: 348px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.75rem;
    margin: -52px 212px 3px 101px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 15px;
    margin-right: 338px;
    margin-left: 12px;
  }

  .u-section-3 .u-image-2 {
    width: 55px;
    height: 55px;
    margin-top: -27px;
    margin-left: 348px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.75rem;
    margin: -52px 212px 3px 101px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 15px;
    margin-right: 338px;
    margin-left: 12px;
  }

  .u-section-3 .u-image-3 {
    width: 55px;
    height: 55px;
    margin-top: -27px;
    margin-left: 348px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.75rem;
    margin: -52px 212px 3px 101px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 15px;
    margin-right: 338px;
    margin-left: 12px;
  }

  .u-section-3 .u-image-4 {
    width: 55px;
    height: 55px;
    margin-top: -27px;
    margin-left: 348px;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.75rem;
    margin: -52px 212px 3px 101px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 15px;
    margin-right: 338px;
    margin-left: 12px;
  }

  .u-section-3 .u-image-5 {
    width: 55px;
    height: 55px;
    margin-top: -27px;
    margin-left: 348px;
  }

  .u-section-3 .u-text-11 {
    font-size: 0.75rem;
    margin: -52px 212px 3px 101px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 15px;
    margin-right: 338px;
    margin-left: 12px;
  }

  .u-section-3 .u-image-6 {
    width: 55px;
    height: 55px;
    margin-top: -27px;
    margin-left: 348px;
  }

  .u-section-3 .u-text-13 {
    font-size: 0.75rem;
    margin: -52px 212px 3px 101px;
  }

  .u-section-3 .u-text-14 {
    margin-top: 15px;
    margin-right: 338px;
    margin-left: 12px;
  }

  .u-section-3 .u-image-7 {
    width: 55px;
    height: 55px;
    margin-top: -27px;
    margin-left: 348px;
  }

  .u-section-3 .u-text-15 {
    font-size: 0.75rem;
    margin: -52px 212px 3px 101px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 18px;
    margin-left: -15px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 0;
    grid-gap: 23px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 26px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: 189px;
    margin-left: 14px;
  }

  .u-section-3 .u-image-1 {
    width: 237px;
    height: 46px;
    margin-top: -19px;
    margin-left: 94px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.625rem;
    margin: -27px 176px 0 14px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 26px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: 189px;
    margin-left: 14px;
  }

  .u-section-3 .u-image-2 {
    width: 237px;
    height: 46px;
    margin-top: -19px;
    margin-left: 94px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.625rem;
    margin: -27px 176px 0 14px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 26px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: 189px;
    margin-left: 14px;
  }

  .u-section-3 .u-image-3 {
    width: 237px;
    height: 46px;
    margin-top: -19px;
    margin-left: 94px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.625rem;
    margin: -27px 176px 0 14px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 26px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: 189px;
    margin-left: 14px;
  }

  .u-section-3 .u-image-4 {
    width: 237px;
    height: 46px;
    margin-top: -19px;
    margin-left: 94px;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.625rem;
    margin: -27px 176px 0 14px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 26px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: 189px;
    margin-left: 14px;
  }

  .u-section-3 .u-image-5 {
    width: 237px;
    height: 46px;
    margin-top: -19px;
    margin-left: 94px;
  }

  .u-section-3 .u-text-11 {
    font-size: 0.625rem;
    margin: -27px 176px 0 14px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 26px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: 189px;
    margin-left: 14px;
  }

  .u-section-3 .u-image-6 {
    width: 237px;
    height: 46px;
    margin-top: -19px;
    margin-left: 94px;
  }

  .u-section-3 .u-text-13 {
    font-size: 0.625rem;
    margin: -27px 176px 0 14px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 26px;
  }

  .u-section-3 .u-text-14 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: 189px;
    margin-left: 14px;
  }

  .u-section-3 .u-image-7 {
    width: 237px;
    height: 46px;
    margin-top: -19px;
    margin-left: 94px;
  }

  .u-section-3 .u-text-15 {
    font-size: 0.625rem;
    margin: -27px 176px 0 14px;
  }
}