.footer {
  background-color: #1c1c1c;
  padding: 40px 20px; 
  color: white;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  width: 100%; 
  max-width: 150px; 
  margin-bottom: 30px; 
}
.footer-link {
  background: none; 
  border: none; 
  color: #ffffff; 
  text-decoration: none !important;
  padding: 0; 
  font-size: 1rem; 
  cursor: pointer; 
}

.footer-link:hover {
  text-decoration: underline; /* Agrega subrayado cuando pasa el ratón */
}


.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6f42c1;
  flex-direction: column;
  gap: 10px;
  font-size: 30px;
  margin-right: -70px;
}

.footer-text {
  font-size: 0.875rem;
  color: #a8a8a8;
  margin-top: 20px;
}

.footer .text-center hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
  margin: 10px 0;
}

.footer .footer-text {
  font-size: 0.875rem;
  margin-top: 10px;
  color: #a8a8a8;
}

.modal-header {
  background-color: #6f42c1;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  font-size: 1.3rem !important;
  font-weight: 600;
  margin: 0;
}

.modal-body {
  padding: 20px;
  font-size: 0.75rem;
  color: #242424;
  line-height: 1.6;
  text-align: justify;
  overflow-y: auto;
}

.modal-footer {
  background-color: #f8f9fa;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}

button.close {
  font-size: 1rem;
  color: #fff !important;
  opacity: 0.7;
  border: none;
  background: none;
  font-weight: bold;
}

button.close:hover {
  opacity: 1;
  color: #6f42c1 !important;
}

.btn-secondary {
  background-color: #6f42c1 !important;
  border-color: #6f42c1 !important;
  color: white;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #5a2d97 !important;
  border-color: #5a2d97 !important;
  cursor: pointer;
}

.modal-backdrop {
  background-color: rgb(0, 0, 0) !important;
}

.footer-link {
  text-decoration: none;
  color: #ffffff !important;
  font-weight: 500;
}

.footer-link:hover {
  color: #ffffff !important;
}

@media (max-width: 1200px) {
  .modal-content {
    max-width: 75vh;
  }

  .modal-title {
    font-size: 1.2rem;
  }

  .modal-body {
    font-size: 0.85rem;
  }

  .btn-secondary {
    font-size: 0.85rem;
    padding: 8px 12px;
  }
}

@media (max-width: 992px) {
  .modal-content {
    max-width: 70vh;
  }

  .modal-title {
    font-size: 1.1rem;
  }

  .modal-body {
    font-size: 0.9rem;
  }

  .btn-secondary {
    font-size: 0.9rem;
    padding: 7px 10px;
  }
}

@media (max-width: 768px) {
  .modal-content {
    max-width: 90vw;
    max-height: 80vh;
  }

  .modal-title {
    font-size: 1.1rem;
  }

  .modal-body {
    font-size: 0.95rem;
  }

  .btn-secondary {
    font-size: 1rem;
    padding: 7px 12px;
  }
}

@media (max-width: 576px) {
  .modal-content {
    max-width: 95vw;
    max-height: 85vh;
  }

  .modal-title {
    font-size: 1rem;
  }

  .modal-body {
    font-size: 1rem;
  }

  .btn-secondary {
    font-size: 1.1rem;
    padding: 6px 10px;
  }
}
