.company-desc {
    font-family: Lexend;  
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
  }
  
  .company-desc .desc-content {  
    margin: 2.5rem;
    justify-content: space-between;
    text-align: justify;
  }

  .company-desc .desc-content
  {
    max-width: 1000px;
  }
  