

.us-desc {
  width: 100%;
    background: #f4f3f1;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 5em;
    padding-left: 15em;
  }
  
  .us-desc h1 {
    font-family: 'Lexend';
    margin-bottom: 2.2em;
  }
  
  .us-content {  
    text-align: start;
    font-family: 'Manrope';
    max-width: 800px;
    flex: 1 0;
    --display: flex;
    flex-direction: column;
  }
  
  .us-title {
    justify-content: start;
    
    width: fit-content; /* El ancho se ajusta al contenido */
    position: relative;
    text-align: start;
  }
  
  .us-img {
    width: 12rem;
    position: absolute;
    top: 70%;
    left: -14%;
  }
  .us-icon
  {
    margin-left: 8em;
    display: flex;
    align-items: center;
    min-width: 300px;
  }

  .us-icon svg
  {
    min-width: 300px;
  }

  @media (max-width: 1240px) {
    .us-desc {
      padding: 3.75em;
    }
    .us-icon svg
    {
      min-width: 250px;
    }
  }  
  @media (max-width: 970px) {
    .us-desc {
      padding: 3.45em;
    }
  .us-icon
  {
    margin-left: 3em;
  }
  .us-icon svg
  {
    min-width: 230px;
  }
}
  @media (max-width: 860px) {
    .us-desc {
      padding: 3.5em;
      flex-direction: column-reverse;
      align-items: center;
    }
    .us-icon svg
    {
      min-width: 180px;
      margin-left: 0em;
    }
  }
  @media (max-width: 760px) {
    .us-desc {
      padding: 2.5em;
      flex-direction: column-reverse;
      align-items: center;

    }
    .us-icon svg
    {
      min-width: 100px;
    }
    .us-icon
  {
    margin-left: 0em;
  }
  .us-title
  {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  }


  @media (max-width: 470px) {
    .us-desc {
      align-items: center;
      padding: 10px;
    }
    .us-content
    {
      margin-bottom: 1em;
      padding: 14px;
    }
    .us-title h1
    {
      align-items: center;
      text-align: center;
      display: flex;
    }
    .us-icon, .us-content
    {
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .us-icon svg
    {
      width: 100px;
      min-width: 30px;
    }
    .values-item h2 strong
    {
      font-size: 1em;
    }
}