/* .contact-section {
    position: relative;
    width: 100%;
    min-height: 90vh;
    margin-top: -50px;
}

.image-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.background-image {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 110%;
    object-fit: cover;
    z-index: -1 !important;
    min-height: 100vh;
}




.icon-list {
    list-style: none;
    padding: 0;
    text-align: justify;
    margin-left: 0;
    margin-bottom: 20px;
}

.icon-list li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #ffffff;
}

.icon-list li i {
    margin-right: 8px;
    color: #6f42c1;
}

@media (max-width: 768px) {
    .text-section,
    .form-section {
        width: 90%;
        padding: 20px;
    }

    .image-section {
        flex-direction: column;
        align-items: center;
    }

    .main-title {
        font-size: 2rem;
    }

    .main-subtitle {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .contact-button1 {
        width: 80%;
        padding: 10px;
    }

    .background-image,
    .image-overlay {
        height: 100vh;
    }
}


@media (max-width: 480px) {
    .text-section,
    .form-section {
        width: 95%;
        padding: 15px;
    }

    .main-title {
        font-size: 1.8rem;
    }

    .main-subtitle {
        font-size: 0.9rem;
    }

    .contact-button1 {
        width: 100%;
        font-size: 0.9rem;
        border-radius: 10px;
    }

    .icon-list {
        font-size: 0.9rem;
    }

    .background-image,
    .image-overlay {
        height: 100vh;
    }
} */

.contact-section
{
    position: relative;
    height: 100%;
    margin-top: -4.75rem;
    min-height: 100vh;
}

.contact-section .background-image
{
    height: 100%;
    width: 100%;
    position: absolute;
    top:  0;
    left: 0;
    object-fit: cover;
    z-index: -2;
}


.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: 100px;
}

.main-title {
    font-family: 'Lexend';
    font-size: 4em;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 100px;
    max-width: 7.4em;
    text-align: center;
}

.main-subtitle {
    font-size: 1.8em;
    color: #ccc;
    margin-top: 80px;
    text-align: center;
}

.contact-title {
    font-weight: bold;
    color: #6f42c1;
    font-family: 'Lexend';
    font-size: 3.5em;
}

.contact-overlay {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    pointer-events: none;
    z-index: -1;
}


.contact-description
{    
    line-height: 1.5;
    margin-top: 2em;
    margin-right: 2em;
}
.contact-section p
{
    z-index: 2;
    color: white;
}
/* ff */
/* Estilo general de la sección de contacto */

.contact-content
{
    margin: 5em;
    padding: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    
}
.text-section, .form-section
{
    font-family: 'Lexend';
    flex: 1 0;
    z-index: 2;
    color: #fff;
}


.text-section {
    z-index: 2;
    margin-top: -100px;
    font-size: 1.25em;
    padding-left: 15em;    
}

.contact-form
{
    flex-direction: column;
    flex: 1;
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    align-items: flex-end;
    max-width: 500px;
    min-width: 400px;
    margin: 20px;
    padding: 20px;
}

.contact-input, .contact-textarea
{    
    padding: 10px;
    width: 100%;
    border-radius: 8px;
}
.contact-send-form {
    font-family: 'Lexend';
    font-weight: 700;
    background-color: #6f42c1;
    color: #fff;
    border: none;
    padding: 10px 4px;
    min-width: 120px;
    font-size: 1rem;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    float: right;
    margin-top: 20px;
}

.contact-send-form:hover {
    background-color: #5a32a3;
    transform: translateY(-2px);
}

.icon-list {
    list-style: none;
    padding: 0;
    text-align: justify;
    margin-left: 0;
    margin-bottom: 20px;
}

.icon-list li {
    margin-bottom: 10px;
    margin-left: 1em;
    font-size: 1.25rem;
    color: #ffffff;
}

.icon-list li i {
    margin-right: 8px;
    color: #6f42c1;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    z-index: 1000;
  }
  
  .loading-message {
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
  }
  

@media (max-width: 1850px) {
    .contact-content{
        margin: 1.5em;
        padding: 1.5em;
        margin-top: 8em;
    }
    .text-section
    {        
        padding-left: 12em;
    }
}

@media (max-width: 1620px) {
    .contact-content{
        margin: 1.5em;
        padding: 1.5em;
        margin-top: 8em;
    }
    .text-section
    {        
        padding-left: 2em;
    }
}

@media (max-width: 1400px) {
    .text-section
    {        
        width: 100%;
        margin: 0px;
        padding-left: 0em;
    }

    .contact-content{
        margin: 0em;
        padding: 0.4em;
        margin-top: 10em;
        flex-direction: column;
    }
    .text-section
    {        
        margin: 0em;
        padding-left: 3em;
        max-width: 800px;
    }
    .contact-form
    {
        
        min-width: 700px;
        padding-left: 3em;
        margin: 0;
    }
    .form-section
    {
        margin-top: 3em;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 740px) {
    .main-title
    {
        font-size: 3em;
    }
    .main-subtitle
    {
        font-size: 1.5em;
        padding: 1em;
    }
    .contact-content{
        margin: 0em;
        padding: 0.1em;
        margin-top: 7em;
    }
    .text-section
    {        
        margin: 0em;
        padding-left: 1em;
        max-width: auto;
    }
    .contact-form
    {
        
        min-width: 450px;
        
        padding-left: 1em;
        margin: 0;
    }
    .form-section
    {
        margin-top: 3em;
        align-items: center;
        justify-content: center;
    }
}