/* Estilo para la sección de contacto */
.contact-section {
    position: relative;
    width: 100%;
    height: 100vh; 
  }
  
  /* Sección de imagen de fondo */
  .image-section {
    position: relative;
    width: 100%;
    height: 110%;
    margin-top: -80px !important;
    background-size: cover !important;
  }
  
  /* Estilo para la imagen de fondo */
  .background-image {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    z-index: 0; 
  }
  
  /* Capa de fondo negro superpuesta */
  .image-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con opacidad */
    z-index: 1; /* Por encima de la imagen pero por debajo del texto */
  }
  
  /* Estilo para el texto sobre la imagen */
  .image-text {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 3; 
    color: #fff; 
    text-align: center;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    width: 90%; 
  }
  
  /* Estilo para los títulos */
  .home-title {
    font-size: 4rem; 
    margin-bottom: 10px; 
    font-weight: bold;
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
  }
  
  /* Estilo para el subtítulo */
  .home-sub-title {
    font-size: 1.5rem; 
    margin-bottom: 20px; 
    font-weight: normal; 
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); 
  }
  
  /* Contenedor de formulario y texto */
  .form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }
  
  /* Estilo para la sección de texto */
  .text-section {
    flex: 1; 
    padding: 10px; 
    margin-top: 30px; 
    margin-left: 30px; 
    margin-right: 50px;
    margin-bottom: 50px;
    max-width: 45%; 
  }
  
  /* Estilo para la sección del formulario */
  .form-section {
    flex: 1; 
    max-width: 30%; 
    padding: 10px; 
    margin-top: 70px; 
    margin-left: 30px; 
    margin-right: 80px;
    margin-bottom: 50px;
    text-align: center !important; 
  }
  
  /* Estilo para el título del formulario */
  .contact-title {
    font-size: 2.8rem;
    margin-left: 50px; 
    margin-bottom: 10px; 
    font-weight: bold;
  }
  
  /* Estilo para el subtítulo del formulario */
  .contact-subtitle {
    font-size: 1rem;
    text-align: justify;
    color: rgb(110, 108, 108); 
    margin-bottom: 5px !important; 
    margin-left: 52px;
  }
  
  /* Estilo para la descripción del contacto */
  .contact-description {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 20px;
    margin-left: 52px; 
  }
  
  /* Estilo para el formulario */
  .contact-form {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px; 
  }
  
  /* Estilo para los campos de entrada */
  .contact-input, .contact-textarea {
    width: 100%;
    padding: 8px; 
    font-size: 0.8rem;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
  }
  
  /* Estilo para el botón de enviar */
  .contact-button1 {
    background-color: #6f42c1;
    color: #fff;
    border: none;
    padding: 10px 20px; 
    font-size: 0.9rem; 
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: auto; 
    align-self: flex-end; 
  }
  
  /* Efecto hover para el botón */
  .contact-button1:hover {
    background-color: #5a32a3;
    transform: translateY(-2px);
  }
  
  .icon-list {
    list-style: none; 
    padding: 0; 
    text-align: justify;
    margin-left: 52px;
    margin-bottom: 20px; 
  }
  
  .icon-list li {
    margin-bottom: 10px; 
    font-size: 1rem; 
    color: #333; 
  }
  
  .icon-list li i {
    margin-right: 8px; 
    color: #6f42c1; 
  }
  