/* Estilos para la sección del video */
.video-section {
  position: relative;
  height: 70vh; 
}

.video-section video {
  position: absolute;
  top: 0%;
  left: 0%;
  --transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  overflow: hidden;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.748); 
  z-index: 2;
}

.video-text {
  position: relative;
  z-index: 3;
  color: #f8f9fa;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px 0;
  padding-top: 7% !important;  
}

.home-title {
  font-size: 3.95rem;   
  font-weight: bold;
  margin-bottom: 3% !important;  
}

.home-sub-title {
  font-size: 2rem;   
  font-weight: bold;
  color: #d6d6d6;
  max-width: 50%;
}

.video-button {
  bottom: 20%;
  position: absolute;
}

/* Estilos personalizados para el botón */
.stw-btn-primary {
  background-color: #00BFFF  !important; 
  color: white !important; 
  border: none !important;
  padding: 0.65rem 1.7rem !important; 
  font-size: 1.5rem !important; 
  transition: background-color 0.3s; 
}

.stw-btn-primary:hover {
  background-color: #1E90FF   !important; 
}

/* Estilos para la sección de servicios */
.services-section {
  padding: 60px 0; 
  background-color: #f8f9fa; 
}

.services-section .row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

/* Estilos para las tarjetas de servicio */
.service-card {
  transition: transform 0.3s;
  margin: auto !important; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
  max-width: 350px; 
  padding: 20px;
  background-color: #fff; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
  min-height: 350px; 
  cursor: pointer;
}

.service-card:hover {
  transform: translateY(-10px); 
}

/* Estilos para las imágenes en las tarjetas de servicios */
.service-card img {
  display: block;        
  margin: 0 auto;        
  width: 35%; 
  height: auto;          
  object-fit: cover;     
  border-radius: 5px;    
  flex-grow: 1;
}

/* Estilo para el título de la tarjeta */
.card-title {
  color: #3f3f3f !important;
  font-size: 1.5rem; 
  font-weight: bold; 
  text-align: center; 
  margin-top: 15px; 
}

/* Estilo para el texto en la parte inferior de la tarjeta */
.card-text {
  color: #484848; 
  font-size: 1rem; 
  text-align: center; 
  margin-top: 20px; 
  flex-grow: 0; 
}

/* Estilo específico para el botón morado */
.btn-purple {
  background-color: #6f42c1 !important; 
  color: white; 
  border: none !important;
}

.btn-purple:hover {
  background-color: #5a32a3 !important; 
}

/* Estilo específico para el botón morado */
.btn-blue { 
  color: white; 
  border: none !important;
  margin-top: 100px !important; 
}


/* Media queries para pantallas pequeñas */
@media (max-width: 576px) {
  .home-title {
    font-size: 2.5rem; 
  }

  .home-sub-title {
    font-size: 1.5rem; 
  }

  .custom-button {
    padding: 20px 30px; 
    font-size: 2rem; 
  }

  .service-card {
    max-width: 100%; 
    margin-bottom: 20px; 
  }
}

.tech-stack
{
  background-color: #1a1a1a;
  padding-bottom: 3.0rem;
  padding-top: 2.0rem;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 3.0rem;
}
.icon {
  
  background: -webkit-linear-gradient(top, #926178 0%, #a63ac7 100%); /* Degradado para navegadores webkit */
  background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%); /* Degradado para navegadores estándar */
  -webkit-background-clip: text; /* Recorte de fondo para navegadores webkit */
  -moz-background-clip: text; /* Recorte de fondo para navegadores Mozilla */
  background-clip: text; /* Recorte de fondo estándar */
  -webkit-text-fill-color: transparent; /* Color de texto transparente para navegadores webkit */
  -moz-text-fill-color: transparent; /* Color de texto transparente para navegadores Mozilla */
  
  
 cursor: pointer;
 
}
.combined-icon
{
  position: relative;
}
.overlay-icon {
  position: absolute;
  bottom: -25%;
  right: -15%;
  color: #008AD7; /* Color para el icono de nube */
}

.blazor
{
 color: #512BD4;
}

.azure
{
  color: #008AD7;
}

.dotnet
{
  color: #fff;
  border: #008AD7;
  background: #512BD4;
  border-radius: 50%; /* Hace que el div sea redondo */
  border: 5px solid #512BD4; /* Borde del círculo */
  display: inline-block;
  padding: 12px;
}
.react
{
  color: #61DAFB;
}
.angular
{
  color:#fff;
}
.sql
{
   color: #c2226c;
}

.company-desc
{
  font-family: Lexend;  
  text-align: center;
}

.company-desc .desc-content
{  
  margin: 2.5rem;
  justify-content: space-between;
  text-align: justify;
}
.us-desc
{
  background: #f4f3f1;
}

.us-desc h1
{
  font-family: 'Lexend';
}

.us-content
{  
  text-align: start;
  font-family: 'Manrope';
}
.us
{
  justify-content: start;
  box-sizing: content-box;  
  width: fit-content;     /* El ancho se ajusta al contenido */
  position: relative;
  text-align: start;
}
.us-img
{
  width: 12rem;
  position: absolute;
  top: 70%;
  left: -14%;
}

.values-desc
{
  padding: 4.0rem;
}
.desc-content
{
  gap: 2.0rem;
  padding: 2.0rem;
}

.values-item h1, h2, .values-desc container h1
{
  font-family: 'Lexend';
}

.values-item
{
  height: 15.0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Manrope';
}

.value-body
{
  height: 40%;
}