/* Estilos para la sección del video */
.video-section {
  position: relative;
  height: 90vh; 
  overflow: hidden;
}

.video-section video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.448); 
  z-index: 2;
}

.video-text {
  position: relative;
  z-index: 3;
  color: #f8f9fa;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px 0;
}

.home-title {
  font-size: 3.5rem; 
  margin-bottom: 20px; 
  text-align: center; 
  font-weight: bold;
}

.home-sub-title {
  font-size: 2rem; 
  margin-bottom: 140px; 
  text-align: center; 
  font-weight: bold;
}

.video-button {
  margin-top: 100px; 
}

/* Estilos personalizados para el botón */
.custom-button {
  background-color: #6f42c1 !important; 
  color: white !important; 
  border: none !important;
  padding: 20px 40px; 
  font-size:1.5rem !important; 
  transition: background-color 0.3s; 
}

.custom-button:hover {
  background-color: #5a32a3 !important; 
  border: none; 
}


/* Estilos para la sección de servicios */
.services-section {
  padding: 60px 0; 
  background-color: #f8f9fa; 
  margin-top: 0; 
}

.service-card {
  transition: transform 0.3s;
}

.service-card:hover {
  transform: translateY(-10px); 
}

/* Media queries para pantallas pequeñas */
@media (max-width: 576px) {
  .home-title {
    font-size: 2.5rem; 
  }

  .home-sub-title {
    font-size: 1.5rem; 
  }

  .custom-button {
    padding: 20px 30px; 
    font-size: 2rem; 
  }
}
