.services-container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .services-background-image {
    width: 100%;
    height: 120%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -7%;
    z-index: -1;
  }
  
  .services-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: -7%;
    height: 120%;
    background: rgba(0, 0, 0, 0.718); 
    z-index: 1;
  }
  
  .services-title-container {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 100px 20px;
  }
  
  .services-main-title {
    font-size: 3rem;
    color: rgb(6, 139, 234);
    font-family: 'Lexend', sans-serif;
    margin-bottom: 100px;
    font-weight: bold;
    margin-top: -5%;
  }
  
  .services-main-subtitle {
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Lexend', sans-serif;
    margin: 40px;
    text-align: center !important;
  }
  
  .services-button {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: 5px solid #6f42c1;
    border-radius: 10px;
    font-family: 'Lexend', sans-serif;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .services-button:hover {
    background-color: #6f42c1;
  }
  